.login-form{
    margin-left: 100px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-form > .buttons {
    grid-column: 1/3;
    text-align: right;
}

.login-form > .errors {
    grid-column: 1/3;
    color: darkred;
    text-align: center;
}

.login-form > input {
    height: 25px;
    margin: 3px;
}
