.register-form {
    margin-left: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 250px 1fr;
    line-height: 30px;
}

.register-form .validationError {
    line-height: 20px;
    vertical-align: middle;
    color: darkred;
    text-align: left;
    padding-left: 0.5em;
    padding-right: 10em;
    font-size: x-small;
}

.register-form label {
    vertical-align: middle;
    text-align: right;
    padding-right: 10px;
}

.register-form .errors {
    grid-column: 1/3;
    color: darkred;
    text-align: center;
    font-size: x-small;
}

.register-form .buttons {
    grid-column: 1/3;
    text-align: right;
}

.register-form > input {
    vertical-align: middle;
    height: 25px;
    width: 100%;
}

.gender {
    display: grid;
    grid-template-columns: 1fr;
}
