.action-item {
    padding: 3px;
    margin-right: 5px;
    border: darkgreen 2px solid;
    border-radius: 10px;
}

.action-item:hover {
    color: rgba(0, 84, 0, 0.49);
    border: rgba(0, 84, 0, 0.49) 2px solid;
}

.action-item:hover > a {
    color: rgba(0, 84, 0, 0.49);
}

.ReactTable {
    border: darkgreen 1px solid;
    color: darkgreen;
}

.ReactTable .-pagination .-btn {
    color: darkgreen;
}

.ReactTable .checkbox-cell {
    text-align: center;
}

.catalog-page {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.catalog-page > div {
    margin-bottom: 15px;
}

.panel {
    width: 100%
}

.details-panel .data {
    display: grid;
    grid-template-columns: 200px 150px;
}

.edit-panel {
    display: grid;
    grid-template-columns: 200px 200px 1fr;
    line-height: 35px;
}

.edit-panel .buttons {
    grid-column: 1/3;
    text-align: right;
}

.edit-panel .validationError {
    color: darkred;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.edit-panel .errors {
    grid-column: 1/3;
    color: darkred;
    text-align: center;
}

.edit-panel label {
    vertical-align: middle;
    text-align: right;
    padding-right: 0.1em;
}

.edit-panel > input {
    height: 25px;
    width: 100%;
    margin: 5px;
}

.edit-panel > select {
    height: 25px;
    width: 100%;
    margin: 5px;
}

.errors {
    color: darkred;
}

.user-modal {
    background-color: darkseagreen;
}
