.root-component{
    display: grid;
    grid-template: 150px 1fr / 250px 1fr;
    width: 100%;
}

.root-component > .header {
    grid-column: 1/3;
    order: 0
}

.user-info-panel {
    position: absolute;
    width: 300px;
    height: 100px;
    right: 20px;
    top: 20px;
}
