.media-type-panel {
    margin: 20px;
}

.media-type-panel .header {
    display: flex;
    height: 25px;
    justify-content: space-between;
}

.media-type-panel .field-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3px;
}

.media-type-panel .field-item, .media-type-panel .field-item-header {
    display: grid;
    grid-column-gap: 3px;
    text-align: center;
    align-content: center;
    grid-template-columns: 100px 200px 100px 100px 1fr 100px;
}
