body {
    background-color: darkseagreen;
    font-family: "Cascadia Code", monospace;
}

a:hover {
    color: rgba(0, 84, 0, 0.49);
}

a {
    color: darkgreen;
    text-decoration: none;
}

button {
    color: darkgreen;
    background-color: darkseagreen;
    border: darkgreen 2px solid;
    margin-right: 10px;
    border-radius: 5px;
    padding: 3px;
}

:disabled {
    opacity: 0.5
}

input, select, .ReactTable .rt-thead.-filters input {
    background-color: #c8f6c8 !important;
    border: darkgreen 2px solid !important;
    border-radius: 10px !important;
    padding: 3px;
}
